.header {
  width: 100%;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #ffffff;
}

.container{
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.node {
  padding-left: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.link {
  color: #211B1B;
  text-decoration: none;
  font-size: var(--text-size);
  font-weight: 600;
  padding: 6px 12px;
}

.link:hover{
  color: var(--hightlight-color);
}

.menu{
  width: 30px;
  height: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: none;
}

.stroke{
  width: 100%;
  height: 6px;
  background-color: var(--main-color);
  margin-top: 6px;
  margin-bottom: 6px;
}

.layout{
  position: fixed;
  top:0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.burgerList{
  list-style: none;
  padding: 0;
  margin: 0;
}

.burgerNode{
  text-transform: uppercase;
  margin: 24px;
  font-size: var(--block-title-size);
}

.closeIcon{
  width: 30px;
  height: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.strokeCloseFirst{
  height: 6px;
  background-color: var(--text-color);
  width: 100%;
  transform: rotate(45deg);
  position: absolute;
  top:0;
  left: 0;

}

.strokeCloseSecond{
  height: 6px;
  background-color: var(--text-color);
  width: 100%;
  transform: rotate(-45deg);
  position: absolute;
  top:0;
  right: 0;
}

@media screen and (max-width: 800px){
  .header{
    width: auto;
  }
  .container{
    padding: 12px;
  }

  .list{
    display: none;
  }

  .menu{
    display: block;
  }
}
