.tech{
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0 0;
}

.container{
  width: 80%;
}

.title{
  margin: 0;
  padding: 30px 0;
  font-size: var(--block-title-size);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.list{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  padding: 30px 0;
}

.node{
  padding: 6px 12px;
  font-size: var(--text-title-size);
}

