:root {
  --main-color: #827f5e;
  --border-color: #cccab8;
  --hightlight-color: #f61067;
  --text-color: #181711;
  --block-title-size: 30px;
  --text-title-size: 21px;
  --text-size: 18px;
  --text-small-size: 12px;
}

body{
margin: 0;
box-sizing: border-box;
}